[Unit]
Description=Boghche Gateway Engine
After=network-online.target strongswan-starter.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/lib/boghche/engine.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
